#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
}

.row {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: .5rem;
}

.square-div {
    background-color: lightgray;
    padding: .5rem;
}

.activated {
    background-color: black;
}